/*background #F5F5F5*/
/*main color #212121*/
/*text color #757575*/
/*accent color #2196F3*/
/*hero background color #2F303A;*/
:root {
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --contacts-text-color: #FFFFFF;
    --secondary-contacts-color: rgba(255, 255, 255, 0.6);
    --primary-background-color : #F5F5F5;
    --accent-color: #2196F3;
    --secondary-background-color:#2F303A;
    --secondary-accent-color: #000000;
}

body{
    background-color:var(--primary-background-color);
    color: var(--secondary-text-color);
    font-family: "Roboto";
}
.logo{
    color: var(--secondary-accent-color);
}
/*site-nav*/
.list{
    list-style: none;
}
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover{
    color: var(--accent-color);
}

/*contacts */
 .contacts .link{
    color: var(--secondary-text-color);
 }
.contacts .link:hover,
.contacts .link:focus 
{
    color: var(--accent-color) ;
}
/*hero*/
.hero{
    background-color: var(--secondary-background-color);
    
}
.hero-title {
    color: var(--contacts-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
   font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

}
.order{
    background-color: var(--accent-color);
    color: var(--contacts-text-color);
}

/*Company Credo Section*/
.section-title{
    color: var(--primary-text-color);
}
.section-description{
    color: var(--secondary-text-color);
}

/*Work Section*/
.section-work{
    color: var(--primary-text-color);
}

/*Team Section*/

.section-galery{
    color: var(--primary-text-color);
    
}
.section-team{
    background-color: var(--contacts-text-color);
}
.team{
    color: var(--primary-text-color);
}
.position{
    color: var(--secondary-text-color);
}
/*Footer Contacts*/

.footer{
  
    background-color: var(--secondary-background-color);
}
.logo-footer{
    color: var(--contacts-text-color);
}
.address-link{
  
    color: var( --secondary-contacts-color);
}





