/*background #F5F5F5*/
/*main color #212121*/
/*text color #757575*/
/*accent color #2196F3*/
/*hero background color #2F303A;*/

body{
    background-color:#F5F5F5 ;
    color: #757575;
    font-family: "Roboto";
}
.logo{
    color: #000000;
}
/*site-nav*/
.list{
    list-style: none;
}
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover{
    color: #2196F3;
}

/*contacts */
 .contacts .link{
    color: #757575;
 }
.contacts .link:hover,
.contacts .link:focus 
{
    color: #2196F3 ;
}
/*hero*/
.hero{
    background-color: #2F303A;
}
.hero-title {
    color: #ffffff;
}
.order{
    background-color: #2196F3;
    color: #ffffff;
}

/*Company Credo Section*/
.section-title{
    color: #212121;
}
.section-description{
    color: #757575;
}

/*Work Section*/
.section-work{
    color: #212121;
}

/*Team Section*/

.section-galery{
    color: #212121;
    
}
.section-team{
    background-color: #ffffff;
}
.team{
    color: #212121;
}
.position{
    color: #757575;
}
/*Footer Contacts*/

.footer{
  
    background-color: #2F303A;
}
.logo-footer{
    color: #ffffff;
}






/*Portfolio page*/
h1{
    display: none;
}